.nav-flex {
  display: flex;
  margin-right: auto;
}

.nav-contacts {
  display: flex;
}

.nav-contacts .item {
  margin-right: 50px;
}

.nav-contacts .item:last-child {
  margin-right: 0;
}

.site-nav .item {
  margin-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  height: max-content;
  position: relative;
}

.site-nav .current::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  position: absolute;
  bottom: 0;
  border-radius: 2px;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.site-nav .link.current {
  color: #2196f3;
}

.contacts .link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover, .contacts .link:focus {
  color: #2196f3;
}

* {
  padding-left: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 210px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/Imgheroclean.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 0 40px 0;
  text-transform: uppercase;
}

.logo .web {
  color: #2196f3;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

.button {
  border-radius: 3px;
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.contact-us {
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.contact-us-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: #212121;
}

.policy-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 10px;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  text-align: left;
  left: 0;
}

.qaz {
  text-align: center;
  margin-bottom: 30px;
  display: block;
}

.form-field-comm {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.form-field input {
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
}

.form-field textarea {
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.form-field-name {
  display: flex;
  flex-direction: column;
  text-align: start;
  position: relative;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
}

.form-icons-svg {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateX(-50%);
}

.policy-link {
  color: #2196f3;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.customer-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: white;
  border-radius: 2px;
  border: 2px solid #212121;
  vertical-align: middle;
}

.checkbox:checked ~ .customer-checkbox {
  background-color: #2196f3;
  background-image: url(../img/galkanots.svg);
  border-color: #2196f3;
  vertical-align: middle;
}

.team-list .title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
}

.team-list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-list .item {
  margin-right: 30px;
}

.team-list-item {
  background-color: #ffffff;
  /* margin-right: 30px; */
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: #f5f4fa;
}

.team-list .image-team {
  margin-bottom: 30px;
}

.team-list .title {
  margin-bottom: 10px;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
}

.exmpls {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}

.exmpls .item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}

.exmpl-img {
  position: relative;
}

.exmpl-title {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  align-content: center;
}

.feature-list .title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* feature list discribse of features */
.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.feature-list {
  display: flex;
}

.feature-list .item .title {
  margin-bottom: 10px;
  margin-top: 0;
}

.feature-list .item {
  width: 270px;
  border-radius: 4px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.feature-list .antena::before {
  background-image: url(../img/utp/antenna.svg);
}

.feature-list .clock::before {
  background-image: url(../img/utp/clock.svg);
}

.feature-list .diagr::before {
  background-image: url(../img/utp/diagram.svg);
}

.feature-list .cosmo::before {
  background-image: url(../img/utp/astronaut.svg);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.studio.footer {
  color: #ffffff;
}

.container-footer .logo {
  color: #ffffff;
}

.container-footer .adres {
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-contacts .item {
  margin-bottom: 9px;
}

.footer-contacts {
  margin-top: 9px;
}

/* adres footer */
.adres {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

/* contacts footer */
.footer .contact-title {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .contact-title:hover, .footer .contact-title:focus {
  color: #2196f3;
}

.socials-list-footer {
  display: flex;
  /* outline: 2px solid yellow; */
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.socials-list-item-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.container-footer {
  display: flex;
}

.container-footer-adres {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.container-footer-socials {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.container-footer-form {
  width: calc((100% - 30px) / 2);
}

.footer-input {
  padding: 15px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  width: 358px;
}

.footer-form {
  margin-right: 12px;
}

.footer-form-button {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
}

.footer-form-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #2196f3;
  background-image: url(../img/logotg.svg);
  margin-left: 10px;
  vertical-align: middle;
}

.section-title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.filter .title-button {
  border-radius: 3px;
  border: none;
  padding: 10px 32px;
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  justify-content: center;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .title-button:hover, .filter .title-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter {
  display: flex;
}

.filter {
  justify-content: center;
  padding-bottom: 56px;
}

.work-list .title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-list .link {
  text-decoration: none;
  position: relative;
}

.work-list .link:hover, .work-list .link:focus {
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list .link:hover, .work-list .link:focus {
  transform: translateY(-100%);
}

.work-list .link:hover .discr,
.work-list .link:focus .discr {
  transform: translateY(-100%);
}

/* text of card */
.work-list .text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-list-disrb {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.discr {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list .card {
  position: relative;
  overflow: hidden;
}

.work-list .item {
  margin-left: 30px;
  margin-top: 30px;
  width: calc(100% / 3 - 30px);
}

.work-list .item:hover, .work-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list .text-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.work-list .title {
  margin-top: 0;
  margin-bottom: 4px;
}

.container-cards {
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}

.client-list .item {
  width: calc(100% / 6 - 30px);
  margin-left: 30px;
  border-radius: 5px;
  border: 1px solid #afb1b8;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list .btn {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list .item:hover {
  border: 1px solid #2196f3;
}

.client-list .btn:focus {
  border: 1px solid #2196f3;
}

.client-list .btn:focus {
  border: 1px solid #2196f3;
}

.client-list .item:hover .logo-icons-svg {
  fill: #2196f3;
}

.client-list .btn:focus .logo-icons-svg {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icons-svg {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.env-icons-svg {
  width: 16px;
  height: 12px;
  fill: #757575;
  vertical-align: middle;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icons-svg {
  width: 10px;
  height: 16px;
  fill: #757575;
  vertical-align: middle;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list {
  padding-top: 16px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.socials-list-item:not(:last-child) {
  margin-right: 10px;
}

.icon-contacts-link:hover .env-icons-svg,
.icon-contacts-link:focus .env-icons-svg {
  fill: #2196f3;
}

.icon-contacts-link:hover .phone-icons-svg,
.icon-contacts-link:focus .phone-icons-svg {
  fill: #2196f3;
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: #2196f3;
}

.social-icons-svg {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icons-svg {
  fill: #afb1b8;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list .item:hover .logo-icons-svg {
  fill: #2196f3;
}

.social-icons-link:hover .social-icons-svg {
  fill: #ffffff;
}

.social-icons-link:focus .social-icons-svg {
  fill: #ffffff;
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: #2196f3;
}

.socials-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.team-list .socials-list {
  display: flex;
}

.social-icons-svg-footer {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-flex .logo {
  display: flex;
  align-items: center;
}

/* section */
.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
/*# sourceMappingURL=main.css.map */