.team-list .title {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-list .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
}

.team-list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-list .item {
  margin-right: 30px;
}
.team-list-item {
  background-color: $primary-bg-color;
  /* margin-right: 30px; */
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: $secondary-bg-color;
}

.team-list .image-team {
  margin-bottom: 30px;
}

.team-list .title {
  margin-bottom: 10px;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
}
